@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,500;1,600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

#root {
  height: 100vh;
}
a {
  text-decoration: none;
}

b {
  font-weight: bold;
}

.page {
  width: 100%;
  min-width: 880px;
  display: flex;
  justify-content: center;
}
.container {
  width: 90%;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-muted {
  font-size: 0.9em;
  color: rgb(66, 66, 66);
}

.text-small {
  font-size: 13px !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  font-weight:bold;
  font-size: 3em;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

h4 {
  text-transform: uppercase;
  
  font-weight:bold;
  font-size: 1.2em;
}
input, .form-control {
  font-size: 15px;
  padding: 8px;
  margin: 8px;
  background-color: #e3e5e8;
  border: 1px solid #E3E5E8;
  border-radius: 2px;
}

textarea.form-control {
  max-width: 100%;
  resize: vertical;
}

input:hover, input:focus, .btn:hover, .form-control:hover {
  outline: 1px solid #a0bfec;
}

.back {
  position: absolute;
  top: 90px;
  left: 20px;
}

.btn, input[type="submit"], input[type="button"], input[type="reset"] {
  cursor: pointer;
}
.btn-link {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: underline;
  background: none;
  cursor: pointer;
}

.btn-link:hover {
  color:#767676
} 

.btn {
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
}

.btn.small {
  padding: 5px!important;
  margin: 6px!important;
}

.btn-add {
  border: 1px solid #E3E5E8;
  background-color: #e3e5e8;
}

.btn-details {
  background: none;
  border: 1px solid #475469;
}

.btn-details:hover {
  outline: 1px solid #666769;
}

.btn-expand {
  transform: rotate(0deg);
  font-size: 20px;
  line-height: 14px;
  font-weight: 600;
}

.btn-expand.active {
  transform: rotate(180deg);
}


.card {
  border-radius: 15px;
  border: 1px solid #767676;
  padding: 20px 30px;
}

/* RECIPES */
.recipe-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

/* RECIPE FILTER */

.recipe-filter {
  display: flex;
  flex-direction: row;
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 20px;
}
.filter-section > header {
  font-size: 1.11em;
  font-weight: bold;
}

.filter-section > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filter-section > div label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* RECIPE LIST */

.recipe-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.recipe-list .recipe-list-item {
  max-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0px 5px 2px 5px;
  border-bottom: 1px solid #b1b3b5;
}

.recipe-list .recipe-list-item:hover {
  border-bottom: 1px solid #e3e5e8;
}

.recipe-list-item > .header {
  width: 200px;
}

.recipe-list-item > .header img {
  width: 100%;
  object-fit: cover;
}

.recipe-list-item > .body {
  flex-grow: 2;
  margin: 2px 4px 0 4px;
}

.recipe-list-item > .footer {
  display: flex;
  flex-direction: column;
}

/* RECIPE DETAIL */
.recipe-details {
  width: 80%;
  margin: 40px 0px 10px;
}

.recipe-comments .controls {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #b1b3b5;
  margin-bottom: 15px;
}
.recipe-comments .controls .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 6;
}
.recipe-comments .controls form{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 2;
}
.recipe-comments .controls input[type='text'].expand, .recipe-comments .controls input[type='text']:focus  {
  width: 80%;
}

.recipe-comments {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.comment-section {
  display: none;
}

.comment-section.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.comment-section .comment {
  width: 90%;
  border: 1px solid #b1b3b5;
  margin-top: 7px;
  padding: 2px 3px 3px 3px ;
}

.comment-section .comment .header {
  width: 100%;
  justify-content: space-between;
}

.recipe-details .image {
  width: 100%;
}

.recipe-details .image img {
  width: 100%;
}

.recipe-details ul {
  list-style-type: disc;
}

.add-recipe {
  width: 80%;
}

.ingredients div{
  justify-content: center;
  align-items: flex-start;
}

.ingredients select.form-control {
  width: 96px;
}